<!-- <pre>
  {{datas$|async|json}}
</pre> -->

<button (click)="loginWithGoogle()">login</button>

<ul>
  <li *ngFor="let doc of datas$|async">
    {{doc['_id']}} - {{doc['title']}}
    <button (click)="updateDoc(doc['_id'])">update</button> - 
    <button (click)="deleteDoc(doc['_id'])">del</button>
  </li>
</ul>

<button (click)="addDoc()">add</button>

<br>
<br>

<input (change)="uploadFile($event)" type="file" />
<p *ngIf="url">
  <a href="{{url}}" target="_blank">Download File</a><br>
  <img src="{{url}}" />
</p>

